@model OdeToFood.ViewModels.HomeIndexViewModel

<html>
    <head>
        <title></title>
    </head>
<body>
    <h1>@Model.CurrentMessage</h1>
    <table>
           @foreach(var restaurant in Model.Restaurants)
           {
           <tr>
                <td>@restaurant.Id</td>
                <td>@restaurant.Name</td>
                <td>@Html.ActionLink("Go", "Details", new { id=restaurant.Id})
             
                </td>
           </tr>
           } 
    </table>
        <div>@Html.ActionLink("Add Restaurant", "Create")</div>
</body>
</html>
